<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>phptravels</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>18/12/30 22:09:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.phptravels.testCases.LoginPageTest@fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/12/30 22:10:09</td>   <td>13192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testpageTitle()[pri:1, instance:com.phptravels.testCases.LoginPageTest@fd02e5]">testpageTitle</td> 
  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/12/30 22:10:12</td>   <td>16349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.testLoginPage()[pri:2, instance:com.phptravels.testCases.LoginPageTest@fd02e5]">testLoginPage</td> 
  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/12/30 22:10:14</td>   <td>17972</td> <td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.phptravels.testCases.LoginPageTest@fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>18/12/30 22:10:15</td>   <td>19667</td> <td>&nbsp;</td><td title="&gt;&gt;MyAccountPageTest.setUp()[pri:0, instance:com.phptravels.testCases.MyAccountPageTest@b0338]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>18/12/30 22:10:34</td>   <td>38843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountPageTest.testPageTitle()[pri:1, instance:com.phptravels.testCases.MyAccountPageTest@b0338]">testPageTitle</td> 
  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>18/12/30 22:10:35</td>   <td>38868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountPageTest.testLoginPersonDetails()[pri:2, instance:com.phptravels.testCases.MyAccountPageTest@b0338]">testLoginPersonDetails</td> 
  <td>main@20375825</td>   <td></td> </tr>
<tr bgcolor="7ec378">  <td>18/12/30 22:10:36</td>   <td>39936</td> <td>&nbsp;</td><td title="&lt;&lt;MyAccountPageTest.tearDown()[pri:0, instance:com.phptravels.testCases.MyAccountPageTest@b0338]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20375825</td>   <td></td> </tr>
</table>
