<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>18/12/30 22:11:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MyAccountPageTest.setUp()[pri:0, instance:com.phptravels.testCases.MyAccountPageTest@fd02e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24858444</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/12/30 22:11:48</td>   <td>19810</td> <td>&nbsp;</td><td title="&lt;&lt;MyAccountPageTest.tearDown()[pri:0, instance:com.phptravels.testCases.MyAccountPageTest@fd02e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24858444</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/12/30 22:11:46</td>   <td>18298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountPageTest.testLoginPersonDetails()[pri:2, instance:com.phptravels.testCases.MyAccountPageTest@fd02e5]">testLoginPersonDetails</td> 
  <td>main@24858444</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/12/30 22:11:46</td>   <td>18262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountPageTest.testPageTitle()[pri:1, instance:com.phptravels.testCases.MyAccountPageTest@fd02e5]">testPageTitle</td> 
  <td>main@24858444</td>   <td></td> </tr>
</table>
